
.container{
    background-color: white;
}
.form-control{
    border-radius: 10px;
}

.nav-link{
    color: white;
}

.footer-area {
    padding-top: 150px;
}

.btn{
    border-radius: 10%;
    width: 80px;

}

.h3{
    font-weight: bold;
}

.card-img-top{
    width:110px; 
    height:100px; 
    margin-left:90px; 
    margin-top:10px; 
    margin-bottom:20px"

}

.card{
    margin-left:50px
}

body{
    background-color: gainsboro;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  #container{
    max-width: 1080px;
    max-height: auto;
    margin: 20px auto;
    background-color: white;
    padding: 0px;
    overflow: hidden;
  }
  
  #header{
      background-color: white;
      padding: 0px;
  }
  .background img{
    position: relative;
    float: left;
    width: 700px;
    height: 400px;
  }
  
  .navigasi ul{
      overflow: hidden;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      padding: 0px 10px;
  }
  
  .navigasi li{
    float: right;
  }
  
  .navigasi a{
    display: block;
    color: rgb(100, 98, 98);
    text-align: center;
    text-decoration: none;
  }
  
  .navigasi img{
    position: relative;
    float: right;
    right: 110px;
    width: 200px;
    height: 130px;
  }
  
  
  .navigasi h3{
    
    font-size: 20px;
    font-weight: 800;
    color:#268986;
    padding-top: 150px;
    position: relative;
    left: 70px;
  }
  
  .navigasi p{
    text-align: right;
    
  }
  
  
  #content{
    background-color:#F4F6F3 ;
    display:grid;
    grid-template-columns: 60% auto;
    padding: 4em 1em;
    
  }
  
  .bagian-kiri{
    width: 500px;
    margin-bottom: 10px;
    margin: 0px 15px;
    margin-left: 150px;
  }
  
  .garbage img{
    width: 160px;
    height: 120px; 
    margin-top: 20px;
  }
  
  .garbage p{
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 70px;
    margin-top: 10px;
  }
  
  .check img{
    width: 20px;
    height: 20px;
  }
  
  .check ul li{
    display:block;
      font-size:1.2em;
      margin-bottom:1em;
      margin-top: 15px;
  }
  
  .bagian-kanan{
    width: 500px;
    margin-bottom: 10px;
    margin: 0px 10px; 
  }
  
  .trash img{
    width: 180px;
    height: 140px; 
    margin-top: 0px;
  }
  
  .trash p{
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 70px;
    margin-top: 5px
  }
  
  .check1 img{
    width: 20px;
    height: 20px;
    justify-self: center;
  }
  
  .check1 ul li{
    display:block;
      font-size:1.2em;
      margin-bottom:1em;
      margin-top: 15px;
  }
  
  ul{
      list-style-type:none;
      margin-right:0;padding:0;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
  }
  
  .tombol-lengkap{
    background-color: #268986;
    padding: 5px 5px;
    color: white;
    
    position: relative;
    left: 60px;
  }
  
  .content2 h3{
    text-align: center;
    font-weight: bold;
  }
  
  .content2 hr{
    width: 20%;
    border-color: limegreen; 
    margin-top: 20px;
  }
  
  .tukar-sampah{
    margin-left: 150px;
  }
  
  .tukar-sampah ul{
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
  
  .tukar-sampah img{
    width: 120px;
    height: 100px; 
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .content3{
    background-color: #F4F6F3;
  }
  
  .content3 h3{
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  .content3 hr{
    width: 20%;
    border-color: limegreen; 
    margin-top: 20px;
  }
  
  .ubah-sampah img{
    width: 400px;
    height: 350px; 
    position: relative;
    margin-left: 310px;
  }
  
  .ubah-sampah p{
    text-align: center;
    position: relative;
    bottom: 100px;
  }
  
  
  .tombol-lengkap2{
    
    background-color: #268986;
    padding: 5px 5px;
    color: white;
    position: relative;
    left: 470px;
    bottom: 100px;
    
  }
  
  .container{
    background-color: #F4F6F3;
  }
  .footer-area h6{
    font-weight: bold;
    font-size: 15px;
  }
  
  .layanan{
    text-align: initial;
    margin-left: 20px;
  }
  
  
  
  .content4 h3{
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  .content4 hr{
    width: 20%;
    border-color: limegreen; 
    margin-top: 20px;
  }
  
  
  .app{
    margin-left: 150px;
  }
  
  .app ul{
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
  
  .app img{
    width: 190px;
    height: 400px; 
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .card-body form{
    position: relative;
    bottom:550px ;
    left: 300px;
  }
  

  .card-body img{
    position: relative;
    top: 60px;
    width: 200px;
    left: 170px;
  }
  .card-body p {
    position: relative;
    left: 230px;
    bottom: 1px;
    font-family: ocr a;
    color:#dbb71e;
  }
  
  .ply img {
    width: 180px;
    height: 60px; 
    margin-top: 80px;
    margin-left: 50px;
    
  }
  
  .andrd img {
   width: 190px;
    height: 380px; 
    margin-top: -10px;
    margin-left: 80px;
  
  }
  
  .ply p{
    text-align: left;
    margin-left: 60px;
  }

  /* Jendela Pop Up */
#popup, #popup2 {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}

.window {
	width: 700px;
	height: 180px;
	background: #fff;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.window h2 {
	margin: 30px 0 0 0;
}
/* Button Close */
.close-button {
	width: 6%;
	height: 20%;
	line-height: 23px;
	background: #000;
	border-radius: 50%;
	border: 3px solid #fff;
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: -10px;
	right: -10px;	
}

/* Memunculkan Jendela Pop Up*/
#popup:target, #popup2:target {
	visibility: visible;
}

.btn-group {
  overflow: hidden;
  background-color: #A0BAA2;
  width:100%;
}

.btn {
 
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.btn:hover {
  border-bottom: 3px solid #1D8927;
}

.btn.active {
  border-bottom: 3px solid #1D8927;
}

  
  
  
  
